<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= cars.brand %>
  </title>
</head>

<body>
  <h1>
    <%= cars.brand %>
  </h1>

  <!-- new delete button -->
  <form action="/weather" method="POST">
    <input id="zip_code" name="zip_code" />

    <button type="submit">submit</button>
  </form>
  <a href="/cars">Back to cars</a>
</body>

</html>