<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>

  </title>
</head>

<body>
  <form action="/weather" method="POST">
<label for="zip_code">Zip Code</label>
    <input id="zip_code" name="zip_code" />

    <button type="submit">submit</button>
  </form>

</body>

</html>